$bodyFontPrimary: 'Poppins', sans-serif;
$lineHeight: 1.4;
$bodyColorPrimary: #ffffff;
$bodyColorAccent: #DABA68;
$bodyColorNeutral: #68837A;
$bodyColorPrimaryInverted: #001F15;
$bodyBackgroundPrimary: #00170F;
$bodyBackgroundAccent: #DABA68;
$bodyBorderColorPrimary: #FFFFFF;
$bodyBorderColorAccent: #DABA68;
$transition: all 0.25s ease;