.footer{
   padding: 91px 0 100px;
   position: relative;
   z-index: 1;
   &__row{
      display: flex;
      gap: 30px;
   }
   &__col{
      width: calc((100% - 60px) / 3);
      &:nth-of-type(3){
         border-left: solid 1px #001F15;
         padding-left: 57px;
      }
   }
   &__logo{
      display: inline-block;
      text-decoration: none;
      height: 31px;
      img{
         display: block;
         height: 100%;
         width: auto;
      }
   }
   &__inner-row{
      display: flex;
      gap: 30px;
   }
   &__inner-col{
      &:nth-of-type(1){
         width: calc(40% - 30px);
      }
      &:nth-of-type(2){
         flex: 1;
      }
   }
   &__menu{
      list-style: none;
      li{
         &:not(:last-child){
            margin-bottom: 25px;
         }
         a{
            text-decoration: none;
            color: inherit;
            transition: $transition;
            &:hover{
               color: $bodyColorPrimary;
            }
         }
      }
   }
   &__copy{
      margin-top: 25px;
   }
   &__title{
      font-weight: 600;
      margin-bottom: 22px;
      font-size: 1.125rem;
   }
   &__contacts{
      a{
         text-decoration: none;
         display: flex;
         align-items: center;
         transition: $transition;
         font-size: 0.875rem;
         color: $bodyColorPrimary;
         figure{
            height: 33px;
            width: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(#40514B, 0.2);
            border-radius: 50%;
            margin-right: 13px;
         }
         &:hover{
            color: $bodyColorAccent;
         }
         &:not(:last-of-type){
            margin-bottom: 10px;
         }
      }
   }
}

@media only screen and (max-width: 992px){
   .footer{
      &__row{
         display: block;
      }
      &__col{
         width: 100%;
         &:nth-of-type(2){
            margin: 56px 0 50px;
         }
         &:nth-of-type(3){
            border: none;
            padding-left: 0;
         }
      }
   }
}

@media only screen and (max-width: 576px){
   .footer{
      padding: 30px 0 34px;
      &__logo{
         height: 27px;
      }
   }
}